# ignore PyCharm IDE Files
.idea/

# ignore py cache
__pycache__

# ignore virtual environment
env/
venv/

# ignore tex build files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# ignore non-submitted pdf files
main.pdf
models.pdf
neurips_2019.pdf

# ignore test folder
test/

# ignore deprecate result formats
results_deprecated/

# ignore images within the results folders
latent_space_figures/
reconstruction_figures/
Learning_Curve.png

# ignore certain ARS repo files
ars-reparameterization/dirichlet/.ipynb_checkpoints/
*.npy
*.pdf
